.limitations{
    width: 50%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin-left: 3%;
    gap: 20%;

    @include breakpoint(md){
        width: 60%;
    }
    @include breakpoint(sm){
        width: 60%;
    }
    @include breakpoint(xs){
        width: 80%;
    }
    @include breakpoint(xxs){
        width: 95%;
    }

    &__link{
        display: block;
        color: black;
        font-size: 1.05rem;
        font-weight: 700;
        word-spacing: 1px;
        &:active{
            color: black;
        }
    }
    &__rights{
        font-size: 1.04rem;
    }}