.main {
    width: 100%;
    height: 65vh;
    display: flex;
    gap: 1%;

    @include breakpoint(md) {
        height: 100vh;
        flex-direction: column;
        align-items: center;
    }

    @include breakpoint(sm) {
        height: 100vh;
        flex-direction: column;
        align-items: center;
        gap: 2%;
    }

    @include breakpoint(xs) {
        height: 100vh;
        flex-direction: column;
        align-items: center;
        gap: 2%;
    }

    @include breakpoint(xxs) {
        height: 100vh;
        flex-direction: column;
        align-items: center;
        gap: 2%;
    }

    &__create {
        width: 68%;
        height: 100%;
        border-radius: 10px;
        margin-left: 5%;
        display: flex;
        flex-direction: column;
        background-image: url("https://img1.wsimg.com/cdnassets/transform/9fe7d867-9c96-44f4-9c62-48e594446440/row-mrq-hp-landscape");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        gap: 4%;

        @include breakpoint(md) {
            @include create-breakpoints {
                height: 80%;
                background-position: center center;
            }
        }

        @include breakpoint(sm) {
            @include create-breakpoints {
                height: 80%;
                background-image: url("https://img1.wsimg.com/cdnassets/transform/4c5fe153-b3a2-416e-b772-cfd315360e36/row-mrq-hp-portrait");
                background-position: center 80%;
                align-items: center;
            }
        }

        @include breakpoint(xs) {
            @include create-breakpoints {
                height: 80%;
                background-image: url("https://img1.wsimg.com/cdnassets/transform/4c5fe153-b3a2-416e-b772-cfd315360e36/row-mrq-hp-portrait");
                background-position: center 80%;
                align-items: center;
            }
        }

        @include breakpoint(xxs) {
            @include create-breakpoints {
                height: 80%;
                background-image: url("https://img1.wsimg.com/cdnassets/transform/4c5fe153-b3a2-416e-b772-cfd315360e36/row-mrq-hp-portrait");
                background-position: center top;
                align-items: center;
            }
        }



        &__subtitle {
            font-weight: bold;
            margin-top: 3%;
            margin-left: 3%;
            font-size: 0.9rem;

            @include breakpoint(md) {
                margin-top: 5%;
                margin-left: 5%;
                font-size: 1.3rem;
            }

            @include breakpoint(sm) {
                margin-left: 0;
                font-size: 1.3rem;
            }

            @include breakpoint(xs) {
                margin-left: 0;
                font-size: 1.3rem;
            }

            @include breakpoint(xxs) {
                margin-left: 0;
                font-size: 1.3rem;
            }
        }

        &__title {
            width: 30%;
            font-size: 3.5rem;
            font-weight: bolder;
            margin-left: 3%;

            @include breakpoint(md) {
                width: 40%;
                font-size: 3rem;
            }

            @include breakpoint(sm) {
                width: 100%;
                text-align: center;
                font-size: 2.5rem;
            }

            @include breakpoint(xs) {
                width: 100%;
                text-align: center;
                font-size: 2.5rem;
            }
            @include breakpoint(xxs) {
                width: 100%;
                text-align: center;
                font-size: 2.5rem;
            }

        }

        &__call {
            display: block;
            width: 40%;
            font-size: 1.3rem;
            margin-left: 3%;
            line-height: 1.5;

            @include breakpoint(sm) {
                width: 70%;
                font-size: 1.3rem;
                text-align: center;
            }

            @include breakpoint(xs) {
                width: 70%;
                font-size: 1.3rem;
                text-align: center;
            }

            @include breakpoint(xxs) {
                width: 70%;
                font-size: 1.3rem;
                text-align: center;
            }
        }

        &__button {
            width: 18%;
            height: 10%;

            @include breakpoint(md) {
                width: 25%;
                height: 11%;
            }

            @include breakpoint(sm) {
                width: 38%;
                height: 8%;
            }

            @include breakpoint(xs) {
                width: 38%;
                height: 8%;
            }

            @include breakpoint(xxs) {
                width: 38%;
                height: 8%;
            }

            &__start {
                @include breakpoint(sm) {
                    font-size: 1.2rem;
                }
            }
        }

        &__advice {
            margin-left: 3%;
            font-size: 0.9rem;

            @include breakpoint(md) {
                font-size: 1.1rem;
                margin-top: 2%;
            }

            @include breakpoint(sm) {
                font-size: 1.1rem;
            }

            @include breakpoint(xs) {
                font-size: 1.1rem;
            }

            @include breakpoint(xxs) {
                font-size: 1.1rem;
            }
        }
    }

    &__button {
        background-color: black;
        color: white;
        outline: none;
        border: 0;
        border-radius: 10px;
        font-size: 1.1rem;
        margin-left: 3%;
        transition: 0.2s;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        @include breakpoint(md) {
            font-size: 1.2rem;
        }

        &:hover {
            cursor: pointer;
            padding: 0 30px;
            transform: scale(1.02);

            &>.main__create__button__arrow,
            .main__offer__button__arrow {
                opacity: 1;
                visibility: visible;
                transform: translateX(0%);

            }

            &>.main__create__button__start {
                transform: translateX(-20px);
            }

            &>.main__offer__button__start {
                transform: translateX(-10px);
            }
        }
    }

    &__offer {
        width: 22%;
        height: 100%;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3%;
        background-color: #D8EFEF;
        position: relative;

        @include breakpoint(md) {
            width: 97%;
            height: 25%;
            align-items: flex-start;
            gap: 8%;
        }

        @include breakpoint(sm) {
            width: 97%;
            height: 15%;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 8%;
            border-radius: 25px;
        }
        @include breakpoint(xs) {
            width: 97%;
            height: 15%;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 3%;
            border-radius: 25px;
        }
        @include breakpoint(xxs) {
            width: 97%;
            height: 15%;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 2%;
            border-radius: 25px;
        }

        &__subtitle {
            font-weight: bold;
            font-size: 1.4rem;

            @include breakpoint(md) {
                margin-left: 5%;
                margin-top: 2%;
            }

            @include breakpoint(sm) {
                margin-left: 2%;
                margin-top: 3%;
                font-size: 1rem;
            }
            @include breakpoint(xs) {
                margin-left: 2%;
                margin-top: 3%;
                font-size: 1rem;
            }
            @include breakpoint(xxs) {
                margin-left: 2%;
                margin-top: 3%;
                font-size: 1rem;
            }
        }

        &__title {
            width: 80%;
            font-size: 2rem;
            font-weight: bold;
            text-align: center;
            line-height: 30px;

            @include breakpoint(md) {
                text-align: left;
                margin-left: 5%;
                white-space: nowrap;
            }

            @include breakpoint(sm) {
                text-align: left;
                margin-left: 2%;
                font-size: 1.4rem;
                white-space: nowrap;
            }
            @include breakpoint(xs) {
                text-align: left;
                margin-left: 2%;
                font-size: 1.4rem;
            }
            @include breakpoint(xxs) {
                text-align: left;
                margin-left: 2%;
                font-size: 1.2rem;
            }
        }

        &__button {
            width: 60%;
            height: 10%;
            border: 3px solid white;

            @include breakpoint(md) {
                width: 25%;
                height: 95%;
                margin-left: 5%;
            }

            @include breakpoint(sm) {
                display: none;
            }

            @include breakpoint(xs) {
                display: none;
            }
            @include breakpoint(xxs) {
                display: none;
            }
        }

        &__advice {
            font-size: 1.2rem;
            text-align: center;
            width: 80%;

            @include breakpoint(md) {
                display: none;
            }

            @include breakpoint(sm) {
                display: none;
            }
            @include breakpoint(xs) {
                display: none;
            }
            @include breakpoint(xxs) {
                display: none;
            }
        }

        &__link {
            text-align: center;

            @include breakpoint(md) {
                text-align: left;
                margin-left: 5%;
                display: block;
                margin-bottom: 2%;
            }

            @include breakpoint(sm) {
                text-align: left;
                margin-left: 2%;
                display: block;
            }
            @include breakpoint(xs) {
                text-align: left;
                margin-left: 2%;
                display: block;
                font-size: 0.8rem;
            }
            @include breakpoint(xxs) {
                text-align: left;
                margin-left: 2%;
                display: block;
                font-size: 0.8rem;
            }
        }

        &__arrow.fa-solid {
            display: none;

            @include breakpoint(sm) {
                display: block;
                width: 5%;
                position: absolute;
                right: 2%;
                top: 50%;
                transform: translate(-50% 0);
                font-size: 1.7rem;
                cursor: pointer;
            }
            @include breakpoint(xs) {
                display: block;
                width: 5%;
                position: absolute;
                right: 2%;
                top: 50%;
                transform: translate(-50% 0);
                font-size: 1.7rem;
                cursor: pointer;
            }
            @include breakpoint(xxs) {
                display: block;
                width: 5%;
                position: absolute;
                right: 2%;
                top: 50%;
                transform: translate(-50% 0);
                font-size: 1.7rem;
                cursor: pointer;
            }
        }
    }
}


button.main__button>.main__create__button__arrow,
.main__offer__button__arrow {
    opacity: 0;
    visibility: hidden;
    width: 0;
    transition: 0.2s ease-in;
    transform: translateX(10px);
}

.main__create__button__start,
.main__offer__button__start {
    transition: 0.2s linear;
}