.domain-prices {
    width: 90%;
    height: 30vh;
    border: 1px solid rgba(0, 0, 0, 0.132);
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: 3%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);

    @include breakpoint(md){
        display: none;
    }
    @include breakpoint(sm){
        display: none;
    }
    @include breakpoint(xs){
        display: none;
    }
    @include breakpoint(xxs){
        display: none;
    }


    &__link{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid rgba(0, 0, 0, 0.097);
        text-decoration: none;
        color: black;
        font-size: 1.1rem;
        gap: 5%;
        transition: 0.3s;
        position: relative;

        @include breakpoint(lg){
            font-size: 0.9rem;
        }

        &--big{
            grid-row: span 2;

            &__title{
                font-size: 2.5rem;
                font-weight: 800;
            }

            &__span{
                text-align: center;
                line-height: 130%;
            }
        }

        &:hover{
            background-color: black;
            color: white;

            & .domain-prices__link__span{
                transform: translateX(-1vw);
            }

            & .domain-prices__link__arrow{
                opacity: 1;
                visibility: visible;
                transform: translateX(2vw);
            }
        }

        &__arrow{
            width: 20px;
            height: 20px;
            opacity: 0;
            visibility: hidden;
            transition: 0.3s;
            position: absolute;
            right: 20%;
            top: 50%;
        }

        &__span{
            transition: 0.2s ease;
        }
    }
}