.trust {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 30vh;

    &__title {
        width: 40%;
        font-size: 3rem;
        margin-left: 5rem;
        margin-bottom: 1rem;

        @include breakpoint(md){
            width: 60%;
            margin-left: 0;
            font-size: 2.5rem;
        }
        @include breakpoint(sm){
            width: 70%;
            font-size: 2.5rem;
            margin-left: 0;
            align-self: center;
            text-align: center;
        }
        @include breakpoint(xs){
            width: 70%;
            font-size: 2.5rem;
            margin-left: 0;
            align-self: center;
            text-align: center;
        }
        @include breakpoint(xxs){
            width: 75%;
            font-size: 2.2rem;
            margin-left: 0;
            align-self: center;
            text-align: center;
        }
    }

    &__services {
        display: flex;
        align-items: flex-start;
        flex-wrap: nowrap;
        gap: 1rem;

        @include breakpoint(md){
            width: 100%;
            overflow: hidden;
        }
        @include breakpoint(sm){
            overflow-y: hidden;
            overflow-x: scroll;
        }
        @include breakpoint(xs){
            overflow-y: hidden;
            overflow-x: scroll;
        }
        @include breakpoint(xxs){
            overflow-y: hidden;
            overflow-x: scroll;
        }

        &__experience {
            flex: 0 0 auto;
            width: 29vw;
            height: 54vh;
            border-radius: 10px;
            background-color: #F5F7F8;
            display: flex;
            flex-direction: column;
            gap: 2%;

            &:first-child {
                margin-left: 5rem;

                @include breakpoint(md){
                    margin-left: 0;
                }
                @include breakpoint(sm){
                    margin-left: 0;
                }
                @include breakpoint(xs){
                    margin-left: 0;
                }
                @include breakpoint(xxs){
                    margin-left: 0;
                }
            }

            @include breakpoint(md){
                width: 280px;
            }
            @include breakpoint(sm){
                width: 280px;
            }
            @include breakpoint(xs){
                width: 280px;
            }
            @include breakpoint(xxs){
                width: 280px;
            }

            &__subtitle {
                font-size: 1rem;
                margin-top: 8%;
                margin-left: 8%;
            }

            &__stars {
                display: flex;
                gap: 0.5%;
                margin-left: 8%;
            }

            &__description {
                width: 80%;
                height: 60%;
                font-size: 1.7rem;
                margin-left: 8%;
                line-height: 120%;
                margin-top: 5%;

                @include breakpoint(lg){
                    font-size: 1.5rem;
                    width: 90%;
                }
                @include breakpoint(md){
                    font-size: 1.5rem;
                    width: 90%;
                }
                @include breakpoint(sm){
                    font-size: 1.5rem;
                    width: 90%;
                }
                @include breakpoint(xs){
                    font-size: 1.5rem;
                    width: 90%;
                }
                @include breakpoint(xxs){
                    font-size: 1.4rem;
                    width: 70%;
                }
            }

            &__name {
                margin-left: 8%;
            }
        }
    }

    &__overall {
        margin-left: 5%;
        margin-top: 3%;
        width: 40%;
        &__link{
            display: block;
            width: 30%;
        }

        &__stars{
            width: 180px;
            margin-top: 5%;
            display: flex;
            gap: 1%;
            @include breakpoint(md){
                width: 150px;
            }
            @include breakpoint(sm){
                width: 150px;
            }
            @include breakpoint(xs){
                width: 150px;
            }
            @include breakpoint(xxs){
                width: 130px;
            }
        }

        &__reviewcount {
            display: inline-block;
            margin-top: 1%;
            font-size: 1.1rem;
            padding-right: 10px;
            padding-top: 2px;
            padding-right: 10px;
            border-right: 2px solid rgb(208, 208, 208);

            @include breakpoint(xs){
                font-size: 1rem;
            }
            @include breakpoint(xxs){
                font-size: 1rem;
            }
            &--aside{
                display: inline-block;
                margin-left: 5px;
                font-size: 1.1rem;

                @include breakpoint(xs){
                    font-size: 1rem;
                }
                @include breakpoint(xxs){
                    font-size: 1rem;
                }
            }
        }
    }

    &__buttons{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10%;
        height: 10%;
        position: absolute;
        right: 3%;
        bottom: 5%;
        gap: 10%;

        @include breakpoint(md){
            display: none;
        }
        @include breakpoint(sm){
            display: none;
        }
        @include breakpoint(xs){
            display: none;
        }
        @include breakpoint(xxs){
            display: none;
        }

        &__button {
            width: 36%;
            height: 85%;
            outline: none;
            border: 2px solid black;
            border-radius: 50px;
            background-color: transparent;
            cursor: pointer;
            transition: all 0.3s linear;

            &:hover {
                background-color: black;
                color: white;
            }

            & span{
                font-size: 1.3rem;
            }
        }
    }
}