@font-face {
    font-family: 'gdSherpa';
    src: url('../assets/fonts/GDSherpa-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'gdSherpa-Bold';
    src: url('../assets/fonts/GDSherpa-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}