* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  width: 100%;
  height: 7vh;
  border: 3px solid black;
  background-color: #2f2f2f;
  display: flex;
  align-items: center;
  position: relative;
}
.header__logo {
  width: 8%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4%;
}
.header__nav {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin-left: 1%;
}
.header__nav__list {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 1%;
}
.header__nav__list__box {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__nav__list__box__item {
  font-size: 1.1rem;
}
.header__nav__list__box__item a {
  text-decoration: none;
  color: white;
  padding: 8px 15px;
  border-radius: 10px;
  transition: 0.2s;
  white-space: nowrap;
}
.header__nav__list__box__item a:hover {
  background-color: #6d6d6d;
}
.header__nav__list__separator {
  width: 0;
  height: 70%;
  border-left: 1px solid rgb(96, 96, 96);
}
.header__right-list {
  width: 20%;
  height: 100%;
  position: absolute;
  right: 5%;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 3%;
}
.header__right-list__item__link {
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
  padding: 8px 15px;
  border-radius: 10px;
  transition: 0.2s;
  white-space: nowrap;
}
.header__right-list__item__link:hover {
  background-color: #6d6d6d;
}
.header__cart {
  display: block;
  position: absolute;
  right: 3%;
  color: white;
  font-size: 0.8rem;
}

svg path {
  fill: white;
}

.search {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
}
.search__box {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search__box__input {
  width: 85%;
  height: 65%;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 0;
  padding: 0 10px;
  font-size: 1rem;
  background-color: rgb(229, 229, 229);
  margin-left: 5%;
  padding-left: 20px;
  outline: none;
  border: 2px solid transparent;
}
.search__box__input::-moz-placeholder {
  font-size: 0.9rem;
}
.search__box__input::placeholder {
  font-size: 0.9rem;
}
.search__box__input:focus {
  border-top: 2px solid #329ef7;
  border-left: 2px solid #329ef7;
  border-bottom: 2px solid #329ef7;
}
.search__box__button {
  width: 10%;
  height: 65%;
  border: 0;
  background-color: #09757A;
  color: white;
}
.search__price {
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
}
.search__price__img {
  width: 40px;
  height: 25px;
  margin-left: 15%;
  margin-top: 5%;
}
.search__price__amount {
  font-size: 0.7rem;
  margin-left: 5%;
  margin-top: 5%;
}

.main {
  width: 100%;
  height: 65vh;
  display: flex;
  gap: 1%;
}
.main__create {
  width: 68%;
  height: 100%;
  border-radius: 10px;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  background-image: url("https://img1.wsimg.com/cdnassets/transform/9fe7d867-9c96-44f4-9c62-48e594446440/row-mrq-hp-landscape");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  gap: 4%;
}
.main__create__subtitle {
  font-weight: bold;
  margin-top: 3%;
  margin-left: 3%;
  font-size: 0.9rem;
}
.main__create__title {
  width: 30%;
  font-size: 3.5rem;
  font-weight: bolder;
  margin-left: 3%;
}
.main__create__call {
  display: block;
  width: 40%;
  font-size: 1.3rem;
  margin-left: 3%;
  line-height: 1.5;
}
.main__create__button {
  width: 18%;
  height: 10%;
}
.main__create__advice {
  margin-left: 3%;
  font-size: 0.9rem;
}
.main__button {
  background-color: black;
  color: white;
  outline: none;
  border: 0;
  border-radius: 10px;
  font-size: 1.1rem;
  margin-left: 3%;
  transition: 0.2s;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__button:hover {
  cursor: pointer;
  padding: 0 30px;
  transform: scale(1.02);
}
.main__button:hover > .main__create__button__arrow, .main__button:hover .main__offer__button__arrow {
  opacity: 1;
  visibility: visible;
  transform: translateX(0%);
}
.main__button:hover > .main__create__button__start {
  transform: translateX(-20px);
}
.main__button:hover > .main__offer__button__start {
  transform: translateX(-10px);
}
.main__offer {
  width: 22%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3%;
  background-color: #D8EFEF;
}
.main__offer__subtitle {
  font-weight: bold;
  font-size: 1.4rem;
}
.main__offer__title {
  width: 80%;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  line-height: 30px;
}
.main__offer__button {
  width: 60%;
  height: 10%;
}
.main__offer__advice {
  font-size: 1.2rem;
  text-align: center;
  width: 80%;
}

button.main__button > .main__create__button__arrow,
.main__offer__button__arrow {
  opacity: 0;
  visibility: hidden;
  transition: 0.2s ease-in;
  transform: translateX(10px);
}

.main__create__button__start,
.main__offer__button__start {
  transition: 0.2s linear;
}

.domain-prices {
  width: 90%;
  height: 30vh;
  border: 1px solid rgba(0, 0, 0, 0.132);
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-top: 3%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.domain-prices__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.097);
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  gap: 5%;
  transition: 0.3s;
  position: relative;
}
.domain-prices__link--big {
  grid-row: span 2;
}
.domain-prices__link--big__title {
  font-size: 2.5rem;
  font-weight: 800;
}
.domain-prices__link:hover {
  background-color: black;
  color: white;
}
.domain-prices__link:hover .domain-prices__link__span {
  transform: translateX(-30px);
}
.domain-prices__link:hover .domain-prices__link__arrow {
  opacity: 1;
  visibility: visible;
  transform: translateX(20px);
}
.domain-prices__link__arrow {
  width: 20px;
  height: 20px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  position: absolute;
  right: 20%;
  top: 50%;
}
.domain-prices__link__span {
  transition: 0.2s ease;
}

.business {
  width: 100%;
  height: 100vh;
  margin-top: 6%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.business__title {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 2%;
}
.business__tabs {
  width: 50%;
  height: 6%;
  display: flex;
  gap: 2%;
  justify-content: center;
  align-items: center;
}
.business__tabs__tab {
  height: 90%;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
  padding: 1% 3%;
  border: 2px solid rgb(217, 217, 217);
  border-radius: 25px;
  background-color: white;
}
.business__tabs__tab:hover {
  border: 2px solid black;
  scale: 1.02;
}
.business__tabs__tab--active {
  background-color: black;
  color: white;
  border: 2px solid black;
}
.business__container {
  width: 72%;
  height: 70%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -40%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2%;
  row-gap: 5%;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.business__container--active {
  z-index: 5;
  opacity: 1;
  visibility: visible;
}
.business__container--domains > a {
  text-decoration: none;
  color: black;
  border-radius: 10px;
}
.business__container--domains__search {
  grid-row: span 2;
  background-image: url("https://img1.wsimg.com/cdnassets/transform/ec1ec404-8337-4417-9c0a-a4bf5eeace3a/intl-img-hp-recore-domains-large-landscape");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}
.business__container--domains__search__content {
  width: 70%;
  height: 30%;
  display: flex;
  flex-direction: column;
  gap: 5%;
  justify-content: flex-start;
  margin-left: 4%;
}
.business__container--domains__search__content__title {
  font-size: 2rem;
  font-weight: 800;
}
.business__container--domains__search__content__paragraph {
  font-size: 1.1rem;
  line-height: 25px;
}
.business__container--domains__search__content__button {
  width: 37%;
  height: 27%;
  font-size: 0.9rem;
  white-space: nowrap;
  color: white;
  background-color: black;
  outline: none;
  border: 0;
  padding: 10px;
  border-radius: 5px;
  margin-top: 2%;
  cursor: pointer;
  transition: 0.3s;
}
.business__container--domains__search__content__button:hover {
  scale: 1.02;
}
.business__container--domains__find {
  background-image: url("https://img1.wsimg.com/cdnassets/transform/fa9063d0-1ec3-4ab1-83e8-dbf6d03f9d3c/img-hp-recore-co-small");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}
.business__container--domains__find__content {
  width: 50%;
  height: 55%;
  margin-left: 3%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
  gap: 3%;
}
.business__container--domains__find__content__title {
  font-size: 1.5rem;
  font-weight: 800;
}
.business__container--domains__find__content__paragraph {
  font-size: 1.1rem;
  line-height: 25px;
}
.business__container--domains__find__content__button {
  width: 60%;
  height: 28%;
  font-size: 0.9rem;
  white-space: nowrap;
  color: white;
  background-color: black;
  outline: none;
  border: 0;
  padding: 10px;
  border-radius: 3px;
  margin-top: 5%;
  cursor: pointer;
  transition: 0.3s;
}
.business__container--domains__find__content__button:hover {
  scale: 1.02;
}
.business__container--domains__start {
  background-image: url("https://img1.wsimg.com/cdnassets/transform/ab758ae9-0592-4e88-8623-409257c378fc/intl-img-hp-recore-cctld-small");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}
.business__container--domains__start__content {
  width: 50%;
  height: 55%;
  margin-left: 3%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
  gap: 3%;
}
.business__container--domains__start__content__title {
  font-size: 1.5rem;
  font-weight: 800;
}
.business__container--domains__start__content__paragraph {
  font-size: 1.1rem;
  line-height: 25px;
}
.business__container--domains__start__content__button {
  width: 40%;
  height: 28%;
  font-size: 0.9rem;
  white-space: nowrap;
  color: white;
  background-color: black;
  outline: none;
  border: 0;
  padding: 10px;
  border-radius: 3px;
  margin-top: 5%;
  cursor: pointer;
  transition: 0.3s;
}
.business__container--domains__start__content__button:hover {
  scale: 1.02;
}/*# sourceMappingURL=main.css.map */